* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faebd7;
}

.todo-app {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 80px;
  width: 900px;
  padding: 40px;
}
